/* Geral */

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body,
#root {
  height: 100vh;
  margin: 0;
  background-image: url("plano_de_fundo.jpg");
}
body, input, select, button, textarea{
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
}
.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: 8rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100%;
  
}
a:hover{
  color: #190c63;
}
header {
  grid-area: header;
  background-color: #203040;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0.5rem;
}

#titulo-cabecalho{
  font-size: 2.7rem;
  color: #ffff;
}
header a {
  text-decoration: none;
  appearance: none;
}
main {
  grid-area: main;
  margin: 40px;
  display: flex;
  flex-direction: row;
}
footer {
  grid-area: footer;
  background-color: #203040;
  color: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-filtro{
  display: flex;
  flex-wrap: wrap;
  background-color: #ffff;
  top: 2rem;
  position: sticky;
  height: 41.5rem;
  border-radius: 25px;
}
.main{
  flex: 3 60rem;
}
.sidebar{
  flex: 1 20rem;
}
.cabecalho-principal{
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#icone-cabecalho{
  height: 6rem;
  width: auto;
}
.cabecalho-esquerdo{
  display: flex;
  align-items: center;
}
#subtitulo-cabecalho{
  display: flex;
  font-size: 1.5rem;
  color: #ffff;
}
#icone-carrinho{
  height: 4rem;
  width: auto;
  background-color: #ffff;
  border-radius: 50%;
}
.cabecalho-nav {
  color:#ffff;
  width: 28%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}